<footer class="custom-footer">

    <h3>Umme Habiba</h3>

    <p>
        Lecturer <br>
        Department of Computer Science & Engineering <br>
        Daffodil International University
    </p>

    <div class="footer-links">

        <a href="mailto:YOUR_EMAIL">Email</a>

        <a href="https://github.com/UmmeHabiba-7119">GitHub</a>

        <a href="https://linkedin.com/in/umme-habiba-5087b5190">LinkedIn</a>

    </div>

    <p class="copyright">

        © 2026 Umme Habiba. All Rights Reserved.

    </p>

</footer>