<div class="home-info">

    <div class="status-badge">
        🟢 Available for Research Collaboration
    </div>

    <h1>Hi, I'm Umme Habiba</h1>

    <p class="hero-subtitle">

        Lecturer, Department of Computer Science & Engineering <br>

        Daffodil International University

    </p>

    <p class="hero-description">

        Passionate about Machine Learning, Deep Learning,
        Computer Vision, Remote Sensing,
        and AI-driven solutions for real-world problems.

    </p>

</div>

